html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;   
    font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-style: normal;
    font-size: 18px;
	line-height: 1.5;
}

header{
	background-image: url(images/cupcake.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    color: white;
	font-size: 24px;
	font-style: italic;
	padding: 80px 40% 80px 25%;
}

img{
    border-radius: 5px;
}

h1, h2, h3{
	font-family: "Playfair Display", serif;
 	font-optical-sizing: auto;
  	font-weight: bold;
  	font-style: normal;
	line-height: 1.25;
    font-size: 52px;
    color: white;
}

h2{
	font-size: 36px;
    color: #3e606b;
}

h3{
    color: #3e606b;
	font-size: 18px;
}

.menu{
	display: flex;
	padding: 30px 0 30px 0;
}

nav a{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}

.central, .approach, .welcome{
	padding: 80px 0 80px 0;
	max-width: 1100px;
}

#logo{
	width: 170px;
    height: auto;
}

.welcome img{
    float: right;
    width: 50%;
	margin: 30px;
}

.button a{
	background-color: #f195b2;
	border-radius: 30px;
	padding: 15px 40px;
	text-decoration: none;
	color: white;
}

.button a:hover{
	background-color: #d2567d;
}

a:hover{
    background-color: #f195b2;
    border-radius: 30px;
    color: white;
}

.central{
	background-color: #f0f0f0;
}

main, main img {
    display: flex;
    width: 100%;  
}

.prvni, .druhy, .treti, .ctvrty{
    margin-right: 30px;
    padding: 20px;
	justify-content: space-between;
    align-items: center;
	text-align: center;
	background-color: white;
    border-radius: 5px;
}

.approach img{
	float: left;
    width: 50%;
	margin: 30px;
}

footer{
	width: 100%;
	text-align: center;
	color: white;
	background-color: #303339;	
	padding: 30px 0 30px 0;
}