/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

body {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-style: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	padding: 0;
	margin: 0;
}

header{
	background-image: url(images/cupcake.jpg);
	background-size: cover;
	align-items: flex-start;
	color: white;
	font-size: 24px;
	font-style: italic;
}


h1, h2, h3{
	font-family: "Playfair Display", serif;
 	font-optical-sizing: auto;
  	font-weight: bold;
  	font-style: normal;
	font-size: 52px;
}


header, main, .approach, .welcome {
	padding: 80px 0 80px 0;
}

.menu{
	display: flex;
	padding: 30px 0 30px 0;
}

#logo, nav{
	flex-direction: row;
	justify-content: space-between;
}

nav a{
 	text-decoration: none;
 	padding: 10px 15px;
	color: black;
}

#logo{
	width: 150px;
    height: auto;
}

main, main img {
	display: flex;
	align-items: center;
	max-width: 80%;
}

h3{
	font-family: "Playfair Display", serif;
 	font-optical-sizing: auto;
  	font-weight: bold;
  	font-style: normal;
	font-size: 18px;
}

.prvni, .druhy, .treti, .ctvrty{
	flex-direction: row;
	justify-content: space-around;
	background-color: white;
	border: solid 2px black;
}

.approach{
	flex-direction: row;
	justify-content: space-around;
}